[Unit]
Description=Infiproxy Panel
Documentation=https://github.com/infinitrator/stealthhub-panel
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=infiproxy
Group=infiproxy
EnvironmentFile=/etc/infiproxy/infiproxy.env
WorkingDirectory=/var/lib/infiproxy
ExecStart=/usr/local/bin/infiproxy
Restart=on-failure
RestartSec=3

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/infiproxy
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
