[Unit]
Description=Infiproxy runtime module updater
Documentation=https://github.com/infinitrator/stealthhub-panel
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/sbin/infiproxy-module-update --run-due
UMask=0027
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=6
PrivateTmp=true
ProtectHome=true
