[Unit]
Description=Infiproxy module maintenance-window scheduler

[Timer]
OnCalendar=*-*-* *:00/15:00
Persistent=true
AccuracySec=1min
Unit=infiproxy-module-update.service

[Install]
WantedBy=timers.target
