[Unit]
Description=Infiproxy Mihomo Runtime
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=infiproxy-runtime
Group=infiproxy-runtime
ExecStart=/opt/infiproxy/cores/mihomo/current/mihomo -d /var/lib/infiproxy-mihomo -f /etc/infiproxy-cores/mihomo/config.yaml
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576
StateDirectory=infiproxy-mihomo
StateDirectoryMode=0750

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/infiproxy-cores/mihomo
ReadOnlyPaths=/opt/infiproxy/cores/mihomo
ReadWritePaths=/var/lib/infiproxy-mihomo /var/log/infiproxy-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
