[Unit]
Description=Infiproxy Hysteria Core
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=infiproxy
Group=infiproxy
ExecStart=/opt/infiproxy/cores/hysteria/current/hysteria server -c /etc/infiproxy-cores/hysteria/config.yaml
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/infiproxy-cores/hysteria
ReadOnlyPaths=/opt/infiproxy/cores/hysteria
ReadWritePaths=/var/log/infiproxy-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
