[Unit]
Description=Infiproxy sing-box Core
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=infiproxy-runtime
Group=infiproxy-runtime
ExecStart=/opt/infiproxy/cores/sing-box/current/sing-box run -c /etc/infiproxy-cores/sing-box/config.json
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/infiproxy-cores/sing-box
ReadOnlyPaths=/opt/infiproxy/cores/sing-box
ReadWritePaths=/var/log/infiproxy-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
