[Unit]
Description=StealthHub Xray Core
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=stealthhub
Group=stealthhub
ExecStart=/opt/stealthhub/cores/xray/current/xray run -config /etc/stealthhub-cores/xray/config.json
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/stealthhub-cores/xray
ReadOnlyPaths=/opt/stealthhub/cores/xray
ReadWritePaths=/var/log/stealthhub-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
