[Unit]
Description=StealthHub Hysteria Core
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=stealthhub
Group=stealthhub
ExecStart=/opt/stealthhub/cores/hysteria/current/hysteria server -c /etc/stealthhub-cores/hysteria/config.yaml
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/stealthhub-cores/hysteria
ReadOnlyPaths=/opt/stealthhub/cores/hysteria
ReadWritePaths=/var/log/stealthhub-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
