[Unit]
Description=StealthHub sing-box Core
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=stealthhub
Group=stealthhub
ExecStart=/opt/stealthhub/cores/sing-box/current/sing-box run -c /etc/stealthhub-cores/sing-box/config.json
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/stealthhub-cores/sing-box
ReadOnlyPaths=/opt/stealthhub/cores/sing-box
ReadWritePaths=/var/log/stealthhub-cores
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
